@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    // margin: 0px;
    // padding: 0;

}

.search {
    background-color: #d6dde5;
    height: 200px;
    padding: 91px 118px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-bar {
    display: flex;
    border: 1px solid #dde2e9;
    // flex-direction: column;
    height: 70px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 20px -4px rgba(5, 5, 5, 0.1);
    transition: 0.3s;
    // align-self: flex-end;

    // span {
    //     // background-image: url()
    //     width: 10%;
    // }

    .fa {
        // width: 10%;
        // height: 100%
        padding: 20px;
        // justify-content: center;
        margin: auto;
        // padding: auto;
        // align-content: center;
        // align-self: center;
        // align-self: center;
    }

    input {
        flex: 1;
        // align-self: flex-end;
        // justify-self: flex-end;
        // justify-self: flex-end;
        // width: 90%;
        // margin: 0 5px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        // justify-content: flex-end;

        &:focus,
        &:active {
            outline: none;
        }
    }
}